@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(13, 56, 92);
    color: white;
}

a{
    color: white;
    text-decoration: none;
}